WebApplication/Service References/ServiceWebRoleReference/Service54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cfo.cloudapp.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebJob" />
  <xs:element name="GetWOD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DateEx" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebJob" minOccurs="0" name="GetWODResult" nillable="true" type="q1:ArrayOfWOD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>